<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" version="1.0.0" id="org.[iTz_Dantas012].[iTz_Training012]">
    <name>TRAINING</name>
    <description>
	Baixe este app para atingir os objetivos que tanto procura.
    </description>
    <author>
	Maria Eduarda Victoria Moraes Dantas
    </author>
    <icon src="KKKKK.png"/>
    <gap:splash src="casa.png"/>
</widget>